
$white: #FFFFFF !default;
$blue: #007BFF !default;
$red: #DC3545 !default;
$yellow: #FFC107 !default;
$green: #28A745 !default;
$black: #000000 !default;

$gray-600: #6c757d !default;

$primaryColor: $white;
$secondaryColor: $blue;
$contrastColor: $gray-600;
