/**
 * This is the main file containing the Enterprise, Inc.
 * Enterprise Management Framework (Enterprise Edition)
 * styles.
 *
 */
/** Variable Definitions */
/**
 * Body
 *
 * Settings for the <body> element.
 *
 */
/**
 * Links
 *
 * Style anchor elements.
 *
 */
/**
 * Grid Breakpoints
 *
 * Define the minimum dimensions at which your layout will
 * change, adapting to different screen sizes, for use in
 * media queries.
 *
 */
/**
 * Line Heights
 *
 */
/** Layout */
.text-center {
  text-align: center !important;
}

.text-muted {
  color: #6c757d !important;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/**
 * Shadow Utilities
 */
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@font-face {
  font-family: 'Abril Fatface';
  src: url(../fonts/AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: 'Lora';
  src: url(../fonts/Lora/static/Lora-Regular.ttf);
}

html, body {
  height: 100%;
}

html {
  font-family: serif;
  line-height: 1.15;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
}

main {
  min-height: 95%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1, h2 {
  font-family: 'Lora Regular', serif;
}

p {
  margin-top: 0;
}

small {
  font-size: 0.8rem;
}
