/**
 * This is the main file containing the Enterprise, Inc.
 * Enterprise Management Framework (Enterprise Edition)
 * styles.
 *
 */

@import "variables/colors";
@import "utilities/text";
@import "utilities/shadows";

@font-face {
    font-family: 'Abril Fatface';
    src: url(../fonts/AbrilFatface-Regular.ttf)
}

@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora/static/Lora-Regular.ttf)
}

html, body {
    height: 100%;
}

html {
    font-family: serif;
    line-height: 1.15;
}

body {
    background-color: $primaryColor;
    color: $black;
    margin: 0;
}

main {
    min-height: 93%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1, h2 {
    font-family: 'Lora Regular', serif;
}

p {
    margin-top: 0;
}
